.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 49px;
  position: relative;
  padding-bottom: 30px;
}

.information-product__product__info {
  width: 910px;
  height: 221px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background-color: var(--white-color);
  gap: 62px;
  padding-left: 39px;
  padding-right: 78px;
  margin-bottom: 24px;
}

.information-product__product__info img {
  width: 242px;
  height: 143px;
  max-width: 242px;
  -o-object-fit: cover;
     object-fit: cover;
}

.information-product__product__text {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
}

.information-product__product__text h3 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 11px;
  line-height: 30px;
}

.information-product__product__title {
  font-size: 16px;
  font-weight: 600;
  color: var(--black-color);
  line-height: 20px;
}

.information-product__product__characteristics {
  width: 818px;
  font-size: 16px;
  font-weight: 400;
  color: var(--black-color);
  line-height: 20px;
}

.information-product__product__advantages {
  margin-bottom: 30px;
}

.information-product__product__dimensions {
  margin-bottom: 30px;
}

@media (max-width: 81.25em){
  .information-product__product__info{
    width: 100%;
  }
  .information-product__product__text {
    color: var(--black-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 19.5px;
  }

  .information-product__product__text h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 11px;
    line-height: 19.5px;
  }

  .information-product__product__characteristics{
    width: 100%;
  }
}

@media (max-width: 68.75em){
  .information-product__product__info{
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 48em) {
  .main__container {
    gap: 0;
  }

  .information-product__product__info {
    width: 100%;
    height: auto;
    background-color: transparent;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0;
    padding-bottom: 26px;
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: top;
  }

  .information-product__product__info .img {
    width: 246px;
    height: 138px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 20px;
    background-color: #fff;
  }

  .information-product__product__text {
    color: var(--black-color);
    font-size: 13px;
    font-weight: 400;
    line-height: 15.5px;
  }

  .information-product__product__text h3 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 11px;
  }

  .information-product__product__title {
    font-size: 10px;
    line-height: 15px;
  }

  .information-product__product__characteristics {
    width: 100%;
    font-size: 10px;
    line-height: 15px;
  }
}