.information {
  margin-bottom: 20px;
}

.projects {
  color: var(--black-color);
}

.projects__title {
  font-size: 30px;
  font-weight: 600;
  line-height: 36.57px;
  margin-bottom: 21px;
}

.projects__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 45px 25px;
  margin-bottom: 50px;
}

.projects .project {
  width: 302px;
  height: auto;
  color: var(--black-color);
}

.projects .project img {
  margin-bottom: 14px;
}

.projects .project span {
  font-size: 14px;
  font-weight: 400;
  line-height: 15.85px;
}


@media (max-width: 48em) {
  .projects__flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 25px;
    gap: 15px 0;
  }
}